/*Website Template by freewebsitetemplates.com*/
@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}
body {
	background: #ededed url(../images/bg-header.gif) repeat-x top center;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}
#header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#header .section .logo {
	float: left;
	margin: 0;
	padding: 30px 0 0 10px;
	width: 324px;
}
#header .section .logo a {
	background: url(../images/bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	font-weight: normal;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width: 570px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 114px 0 0;
}
#header .section ul li {
	background: url(../images/bg-nav-right.gif) ;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#header .section ul li a {
	background: url(../images/bg-nav-left.gif) ;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: #ccc;
}
#header .section ul li.selected {
	background: url(../images/bg-nav-right-selected.gif) ;
}
#header .section ul li.selected a {
	background: url(../images/bg-nav-left-selected.gif);
}
#header .article {
	background: #fff;
	border: 2px solid #5fb3bd;
	border-radius: 4px;
	margin: 50px auto 28px;
	overflow: hidden;
	padding: 0;
	width: 936px;
}
#header .article img {
	display: block;
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
}
#header .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	line-height: 50px;
	padding: 110px 30px 30px;
}
#body {
	margin: 0 auto;
	min-height: 812px;
	padding: 20px 0 50px;
	width: 90%;
     
}
#body h1{
       text-align: center;
       margin:  50px 50px;
}
#menu{
	float:left;
	width:10%;
	border: #387a82 solid;
	height:auto;
	text-align: center;
	
}
#menu li{
                list-style: none;
	text-align: left;
                  font-size: 18px;
	padding-bottom: 10px;
                 padding-left: 10px;
	text-transform: uppercase;
}

#aside{
	float: right;;
	width:100%;
	border: #387a82 solid;
	height:auto;
        padding: 10px;
}
#aside form{
display: relative;
padding: 30px;

font-size: 24px;
  float:right;
    width: 60%;
 
}

#display
{

    float:left;
    width: 30%;
    background-color: darkgray;
}
table {
                 border: 1px solid;
	width:100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color:red;
	color: #fff;
        text-transform: uppercase;
}

th {
	text-align: left;
}

thead th  {
	
		background-color: graytext;
	
}

tbody tr  :hover{
		
	background-color:gray ;		
		
        }
 tr td td td :hover{
	
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: black;
				z-index: -1;
			
		
	}

#search input[type=text]{
   
	margin-left: 85px;
                 margin-right: 15px;
	box-sizing: border-box;
	padding: 12px 20px;
	width: 75%;
        font-size: 24px;
        

}
#search  button{
	
	background-color: #4caf50;
	margin-top: 25px;;
	padding:16px 32px ;

	color:white;
	margin: 20px 2px;
}
#aside form label{
                  
              
               margin-top: 15px ;
}

#aside form input[type=text]{
	margin-top: 15px ;
	box-sizing: border-box;
	padding: 12px 20px;
	width: 100%;

}
#aside form input[type=submit]{
	float: right;
	background-color: #4caf50;
	margin-top: 25px;;
                 margin-left: 55px;
	padding:25px 32px ;
                 width: 25%;
	color:white;
	margin: 4px 2px;
}
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin-top: 15px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}
#footer > div {
	clear: both;
	margin: 0 auto;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 960px;
}
#footer div p {
	color: #ededed;
	display: inline-block;
	float: right;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}
#footer div .connect {
	background: #387a82;
	float: right;
	height: 18px;
	margin: 0 20px 0 150px;
	padding: 22px 20px;
	overflow: hidden;
	width: 144px;
}
#footer div .connect span {
	color: #ededed;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 19px;
	line-height: 21px;
	margin: 0;
	padding: 0 0 0 39px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 20px;
	margin: 0 8px;
	padding: 0;
	text-indent: -99999px;
	width: 20px;
}
#footer div .connect #twitter {
	background-position: 0 -32px;
}
#footer div .connect #twitter:hover {
	background-position: -25px -32px;
}
#footer div .connect #facebook {
	background-position: 0 -57px;
}
#footer div .connect #facebook:hover {
	background-position: -25px -57px;
}
#footer div .connect #googleplus {
	background-position: 0 -82px;
}
#footer div .connect #googleplus:hover {
	background-position: -25px -82px;
}
#footer div .connect #pinterest {
	background-position: 0 -107px;
}
#footer div .connect #pinterest:hover {
	background-position: -25px -107px;
}